#value_on_bar {
  font-size: 20px;
  background-color: #66A5AD;
  padding: .30em;
  color: white;
  border-radius: 6px;
  pointer-events: none;
  position: absolute;
}

.hidden {
  display: none;
}

text {
  font-family: sans-serif;
  font-size: 10px;
}
