<!DOCTYPE html>
<!--
Student: Bryan Bo Cao
SBU ID: 112130213
Email: bo.cao.1@stonybrook.edu or boccao@cs.stonybrook.edu

Dataset:
College 777 data points, 18 dimensions
https://vincentarelbundock.github.io/Rdatasets/datasets.html

Reference:
https://getbootstrap.com/docs
https://www.w3schools.com
Flask code base from TA: https://github.com/hawkeye154/d3_flask_tutorial
https://bl.ocks.org/gordlea/27370d1eea8464b04538e6d8ced39e89
-->
<html lang="en">
<head>
    <!--  <script src="../d3.min.js"></script> Use D3 library from CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
      #value_on_bar {
        font-size: 20px;
        background-color: #66A5AD;
        padding: .30em;
        color: white;
        border-radius: 6px;
        pointer-events: none;
        position: absolute;
      }

      .hidden {
        display: none;
      }

      text {
        font-family: sans-serif;
        font-size: 10px;
      }

      .line {
          fill: none;
          /* stroke: #66A5AD; */
          stroke-width: 5;
      }

      .overlay {
        fill: #07575B;
        pointer-events: all;
      }

      .dot {
          fill: #07575B;
          stroke: #66A5AD;
      }

    </style>
    <!-- load the d3.js library -->
    <script src="http://d3js.org/d3.v5.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>



<div class="page-header" align="center">
  <div id="bar_div" style="background-color: #07575B;" width="960" height="100" class="well">
    <font color="white"><h3>Student: Bryan Bo Cao SBU ID: 112130213</h3></font>
  </div>
</div>

<div class="container-fluid well">
  <div id="value_on_bar" class="hidden">
    <p><span id="value"></span></p>
  </div>
  <div id="canvas">
    <div id="part2_scree_div_id">
      <!-- <svg id="scree_svg" width="960" height="500"></svg> -->
    </div>
  </div>
</div><!-- end of <div class="container-fluid well"> -->

  <div id="canvas_script">
    <script>
      // ###########################################################################
      // ####                          parameters                               ####
      // ###########################################################################
      var curr_bar_w = -10; // initial value
      var max_bar_w = 70, min_bar_w = 10;
      var w = window.innerWidth, h = window.innerHeight - 450;
      var canvas_w = w - 20, canvas_h = h - 320;
      var my_colors = ["#003B46", "#07575B", "#66A5AD", "#C4DFE6"];

      // Set the dimensions of the canvas / graph
      var margin = {top: 30, right: 20, bottom: 30, left: 50},
          width = 600 - margin.left - margin.right,
          height = 270 - margin.top - margin.bottom;

      // ###########################################################################
      // ####                Visualize Data from Backent                        ####
      // ###########################################################################
      var vis_data = {{ data | safe }}
      console.log(vis_data);
      console.log(vis_data.pca_all_data_explained_variance_ratio_);
      console.log(vis_data.pca_sampled_data_explained_variance_ratio_);

      // canvas
      // main area to display all different kinds of charts
      var canvas = d3.select("#canvas")
                      .append("svg")
                      .attr("width", canvas_w)
                      .attr("height", canvas_h);

      // Code base from TA
      // Set the dimensions of the canvas / graph
      var margin = {top: 30, right: 20, bottom: 30, left: 50},
                    width = 600 - margin.left - margin.right,
                    height = 270 - margin.top - margin.bottom;

      // Set the ranges
      var x_scale = d3.scaleLinear().range([0, width]);
      var y_scale = d3.scaleLinear().range([height, 0]);

      // scree plot
      scree_plot(vis_data.pca_all_data_explained_variance_ratio_, my_colors[1])
      scree_plot(vis_data.pca_sampled_data_explained_variance_ratio_, my_colors[2])


      // ===================== scree_plot -- start =====================
      function scree_plot(data, color){
          // Scale the range of the data
          // Apply margin convention
          var scree_svg_margin = {top: 50, right: 50, bottom: 50, left: 50},
              scree_svg_width = window.innerWidth - scree_svg_margin.left - scree_svg_margin.right,
              scree_svg_height = 300;
              scree_svg_x_axis_height = 210;
              // height = window.innerHeight - margin.top - margin.bottom;

          // Use the index as X scale
          var x_scale = d3.scaleLinear()
              .domain([0, data.length-1])
              .range([0, width]);

          // Use data value as Y scale
          var yScale = d3.scaleLinear()
              .domain([0, d3.max(data) + 0.1])
              .range([height, 0]);

          // generate lines
          var line = d3.line()
              .x(function(d, i) { return x_scale(i); })
              .y(function(d) { return y_scale(d.y); })

          // generate line data y->data_value
          var line_data = data.map(function(d) { return {"y": d} })
          // console.log(line_data)

          var scree_svg = d3.select("#part2_scree_div_id").append("svg")
                      .attr("width", scree_svg_width + scree_svg_margin.left + scree_svg_margin.right)
                      .attr("height", scree_svg_height)
                      .on("mouseover", function() {
                          d3.select("#part2_scree_div_id").transition()
                              .duration(800)
                              .style("opacity", 1);})
                      .on("mouseout", function() {
                          d3.select("#part2_scree_div_id").transition()
                              .duration(800)
                              .style("opacity", 0.4);})
                      .append("g")
                          .attr("transform",
                                "translate(" + (scree_svg_margin.left + 300) + "," +
                                                scree_svg_margin.top + ")")

          // Append x axis
          scree_svg.append("g")
              .attr("class", "x axis")
              .attr("transform", "translate(0," + scree_svg_height + ")")
              .call(d3.axisBottom(x_scale))
              .attr("transform", "translate(" + 0+ "," + scree_svg_x_axis_height + ")");

          // Append y axis
          scree_svg.append("g")
              .attr("class", "y axis")
              .call(d3.axisLeft(y_scale));

          // Append text to x axis
          scree_svg.append("text")
              .attr("transform",
                    "translate(" + (scree_svg_margin.left + 220) + " ," +
                              (scree_svg_x_axis_height + 30) + ")")
                   .style("text-anchor", "middle")
                   .text("Component")

          // Append text to y axis
          scree_svg.append("text")
              .attr("transform",
                    "translate(" + (scree_svg_margin.left - 120) + " ," +
                              (scree_svg_x_axis_height - 110) + ")")
                    .style("text-anchor", "middle")
                    .text("Variance Ratio")


          // Append paths
          scree_svg.append("path")
              .datum(line_data) // bind data to lines
              .attr("d", line)
              .attr("class", "line")

          scree_svg.selectAll(".line")
              .attr("stroke", color);

          // Append a dot on each datapoint
          scree_svg.selectAll(".dot")
              .data(line_data)
              .enter().append("circle")
                  .attr("cx", function(d, i) { return x_scale(i) })
                  .attr("cy", function(d) { return y_scale(d.y) })
                  .attr("class", "dot")
                  .attr("r", 6);
      }
      // ===================== scree_plot -- end =====================

    </script>
</div>
</body>
</html>
