<!DOCTYPE html>
<!--
Student: Bryan Bo Cao
SBU ID: 112130213
Email: bo.cao.1@stonybrook.edu or boccao@cs.stonybrook.edu

Dataset:
College 777 data points, 18 dimensions
https://vincentarelbundock.github.io/Rdatasets/datasets.html

Reference:
https://getbootstrap.com/docs
https://www.w3schools.com
Flask code base from TA: https://github.com/hawkeye154/d3_flask_tutorial
-->
<html lang="en">
<head>
    <!--  <script src="../d3.min.js"></script> Use D3 library from CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
      #value_on_bar {
        font-size: 20px;
        background-color: #66A5AD;
        padding: .30em;
        color: white;
        border-radius: 6px;
        pointer-events: none;
        position: absolute;
      }

      .hidden {
        display: none;
      }

      text {
        font-family: sans-serif;
        font-size: 10px;
      }
    </style>
    <script src="https://d3js.org/d3.v4.min.js"></script>
</head>

<body>

<!-- load the d3.js library -->
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="page-header" align="center">
  <div id="bar_div" style="background-color: #07575B;" width="960" height="100" class="well">
    <font color="white"><h3>Student: Bryan Bo Cao SBU ID: 112130213</h3></font>
  </div>
</div>

<div class="container-fluid well">
  <div id="value_on_bar" class="hidden">
    <p><span id="value"></span></p>
  </div>
  <div id="canvas" onclick="change_chart()">
    <!-- Note that check_lr_movement(event)" is for the requirement of
    7.mouse moves left (right) should decrease (increase) bin width/size -->
    <!-- canvas div for d3 -->
    <div id="chart_div_id">
      <svg id="barchart_svg" width="960" height="500"></svg>
    </div>
    <hr>
    <hr>
  </div>

  <div id="canvas_script">
    <script>
      // ###########################################################################
      // ####                Visualize Data from Backent                        ####
      // ###########################################################################
      var vis_data = {{ data | safe }}
      console.log(vis_data);
      console.log(vis_data.vis_pca_all_data_eigenvalues);
      console.log(vis_data.vis_pca_sampled_data_eigenvalues);


    </script>
</div>
</body>
</html>
